.nav-item {
  font-size: 2rem;
  text-align: left;
}
/* Bordered form */
form {
  border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.login_button, .cancel1btn {
  background-color: #4CAF50;
  color: white;
  padding: 14px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
.login_button:hover, .cancel1btn:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancel1btn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancel1btn {
    width: 100%;
  }
}

* {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
.cancelbtn, .signupbtn {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.cancelbtn:hover, .signupbtn:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

body {
  font-family: 'Roboto', sans-serif;
  }

#title {
  background-color: #000;
  color: #fff;
  height: 700px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: relative;
  left: 15%;
}

#features {
  background-color: #fff;
  color: #000;
  text-align: center;
  position: relative;
  z-index: 1;
}

.features-class {
  padding: 7rem 1rem 5rem;
}

.fa-plane-departure {
  font-size: 20rem;
}

.fa-check-circle {
  font-size: 7rem;
  color: #000;
}

.fa-check-circle:hover {
  font-size: 7rem;
  color: #8f8f8f;
}

.fa-bullseye {
  font-size: 7rem;
  color: #000;
}

.fa-bullseye:hover {
  font-size: 7rem;
  color: #8f8f8f;
}

.fa-heart {
  font-size: 7rem;
  color: #000;
}

.fa-heart:hover {
  font-size: 7rem;
  color: #8f8f8f;
}

.features-h1 {
  font-size: 1.5rem;
  padding-top: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.features-p {
  color: #8f8f8f;
}

.col-features {
  padding-bottom: 5rem;
}

#testimonials {
  background-color: #000;
  text-align: center;
  color: #fff;
}

.testimonials-h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #000;
  text-align: center;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-h3 {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 2rem;
}

.pricing-h2 {
  font-family: 'Ubuntu', sans-serif;
  color: #000;
  font-size: 3rem;
}

.pricing-card {
  padding:3% 2%;
}

.pricing-p {
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 1rem;
}

#cta {
  background-color: #000;
  text-align: center;
  color: #fff;
  padding: 10rem;
}

.cta-h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
}

.btn-cta {
  margin: 20px 10px;
}

#footer {
  text-align: center;
  padding: 50px 30px;
  background-color: #fff;
}

.footer-icon {
  font-size: 1.5rem;
  margin: 10px 20px;
}

.footer-p {
  font-size: 20px;
}

@media (max-width: 980px) {
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    line-height: 1.5;
  }

  .testimonials-h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
  }

  .cta-h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
  }

  #title {
    background-color: #000;
    color: #fff;
    height: 1250px;
    text-align: center;
  }

  .alert {
    font-size: 2rem;
  }

  #features {
    font-size: 2rem;
  }

  .nav-text {
    font-size: 3rem;
    text-align: left;
  }

  .navbar-brand {
    font-size: 4rem;
  }

  .navbar-toggler-icon {
    font-size: 3rem;
  }
}
