
body {
  font-family: 'Roboto', sans-serif;
  }

.hotel-p {
  font-size: 1.5rem;
}

.alert {
  font-size: 2rem;
}

.hotel-name {
  font-size:2rem;
}

#title {
  background-color: #000;
  color: #fff;
  height: 500px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
}

.title-p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 1rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 1rem;
}

#features {
  background-color: #fff;
  color: #000;
  text-align: center;
  position: relative;
  z-index: 1;
}

.features-class {
  padding: 7rem 1rem 5rem;
}

.fa-hotel {
  font-size: 10rem;
}

.hotels {
  margin: 2rem;
}

.hotels-h3 {
  text-align: center;
  font-size: 3rem;
  font-family: 'Open Sans', sans-serif;
  margin: 3rem;
}

.features-h1 {
  font-size: 2.5rem;
  padding-top: 1rem;
  font-family: 'Open Sans', sans-serif;
}

.features-p {
  font-size: 1.5rem;
  color: #8f8f8f;
}

.col-features {
  padding-bottom: 5rem;
}

#testimonials {
  background-color: #000;
  text-align: center;
  color: #fff;
}

.testimonials-h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #000;
  text-align: center;
  padding-bottom: 3%;
}

.press-img {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-h3 {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 2rem;
}

.pricing-h2 {
  font-family: 'Ubuntu', sans-serif;
  color: #000;
  font-size: 3rem;
}

.pricing-card {
  padding:3% 2%;
}

.pricing-p {
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 1rem;
}

#cta {
  background-color: #000;
  text-align: center;
  color: #fff;
  padding: 10rem;
}

.cta-h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
}

.btn-cta {
  margin: 20px 10px;
}

#footer {
  text-align: center;
  padding: 50px 30px;
  background-color: #000;
  color: #fff;
}

#credentials {
  background-color: #000;
}

.footer-icon {
  font-size: 1.5rem;
  margin: 10px 20px;
}

.footer-p {
  font-size: 20px;
}


@media (max-width: 990px) and (min-width: 840px) {
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    line-height: 1.5;
  }

  .testimonials-h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
  }

  .cta-h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
  }

  #title {
    background-color: #000;
    color: #fff;
    height: 700px;
    text-align: center;
  }

  .hotel-p {
  font-size: 1.5rem;
}

.alert {
  font-size: 2rem;
}

.hotel-name {
  font-size:2.5rem;
}

.nav-text {
  font-size: 3rem;
  text-align: left;
}

.navbar-brand {
  font-size: 4rem;
}

.navbar-toggler-icon {
  font-size: 3rem;
}
}

@media (max-width: 840px) {
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    line-height: 1.5;
  }

  .testimonials-h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
  }

  .cta-h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
  }

  #title {
    background-color: #000;
    color: #fff;
    height: 850px;
    text-align: center;
  }

  .hotel-p {
  font-size: 1.5rem;
}

.alert {
  font-size: 2rem;
}

.hotel-name {
  font-size: 2.5rem;
}

.nav-text {
  font-size: 3rem;
  text-align: left;
}

.navbar-brand {
  font-size: 4rem;
}

.navbar-toggler-icon {
  font-size: 3rem;
}
}
