
body {
  font-family: 'Roboto', sans-serif;
  }

#title {
  background-color: #000;
  color: #fff;
  height: 500px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item{
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  margin-top: 1rem;
}

.fa-head-side-mask {
  font-size: 10rem;
}

#cta {
  background-color: #000;
  text-align: center;
  color: #fff;
  padding: 10rem;
}

.cta-h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
}

.btn-cta {
  margin: 20px 10px;
}

#footer {
  text-align: center;
  padding: 50px 30px;
  background-color: #fff;
  color: #000;
}

#credentials {
  background-color: #fff;
}

.footer-icon {
  font-size: 1.5rem;
  margin: 10px 20px;
}

.footer-p {
  font-size: 20px;
}

@media (max-width: 990px) and (min-width: 840px) {
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    line-height: 1.5;
  }

  .testimonials-h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
  }

  .cta-h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
  }

  #title {
    background-color: #000;
    color: #fff;
    height: 1000px;
    text-align: center;
  }

  .nav-text {
    font-size: 3rem;
    text-align: left;
  }

  .navbar-brand {
    font-size: 4rem;
  }

  .navbar-toggler-icon {
    font-size: 3rem;
  }
}

@media (max-width: 840px) {
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    line-height: 1.5;
  }

  .testimonials-h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
  }

  .cta-h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
  }

  #title {
    background-color: #000;
    color: #fff;
    height:1000px;
    text-align: center;
  }

  .nav-text {
    font-size: 3rem;
    text-align: left;
  }

  .navbar-brand {
    font-size: 4rem;
  }

  .navbar-toggler-icon {
    font-size: 3rem;
  }
}
